 <!DOCTYPE html>
<html>
<head>
<title> Doctor Registration </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='requestdoctor.css') }}">
</head>
<body>
 <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('patient_profile') }}"><img src="static/logo.png" height="50"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          </div>
      </nav>
 </header>
<div class="container">
            <form class="form-horizontal" role="form">
                <h2><font color="Maroon">Request a Doctor</font></h2>
                <div class="form-group">

                     <label for="firstName" class="no-space-break col-sm-3 control-label col-form-label"><b> Select Specialist </b> </label>
                     <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="Professional Enrollment ID " class="form-control" autofocus>
                     </div>

                </div>
				<fieldset disabled>
				<div class="form-group">
                    <label for="lastName" class="no-space-break col-sm-3 control-label"> <b> NPI </b> </label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="NPI" class="form-control" autofocus>
                    </div>
                </div>
				<div class="form-group">
                    <label for="lastName" class="no-space-break col-sm-3 control-label"> <b> PAC ID </b> </label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="PAC ID" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="no-space-break col-sm-3 control-label"> <b> First Name </b> </label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="First Name" class="form-control" autofocus>
                    </div>
                </div>
				<div class="form-group">
                    <label for="lastName" class="no-space-break col-sm-3 control-label"> <b> Last Name </b> </label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus>
                    </div>
                </div>
				<div class="form-group">
                    <label for="lastName" class="no-space-break col-sm-3 control-label"> <b> Graduation year </b></label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="Graduation year" class="form-control" autofocus>
                    </div>
                </div>
				<div class="form-group">
                    <label for="lastName" class="no-space-break col-sm-3 control-label"> <b> Primary specialty </b></label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="Primary specialty" class="form-control" autofocus>
                    </div>
                </div>
				</fieldset>
				<div class="form-group">
                    <label for="lastName" class="no-space-break col-sm-3 control-label"><b>Street Address (Line 1) </b></label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="Street Address (Line 1)" class="form-control" autofocus>
                    </div>
                </div>
				<div class="form-group">
                    <label for="lastName" class="no-space-break col-sm-3 control-label"> <b>Street Address (Line 2)</b>  </label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="Street Address (Line 2)"  class="form-control" autofocus>
                    </div>
                </div>
				<div class="form-group">
                    <label for="lastName" class="no-space-break col-sm-3 control-label"> <b> City </b></label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="City" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="no-space-break col-sm-3 control-label"> <b>Email </b><span class="red-star">*</span> </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" name= "email">
                    </div>
                </div>
				<div class="form-group">
                    <label for="password" class="no-space-break col-sm-3 control-label"><b>Password</b><span class="red-star">*</span></label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="no-space-break col-sm-3 control-label"><b>Confirm Password</b> <span class="red-star">*</span></label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
				<div class="form-group">
                    <label for="phoneNumber" class="no-space-break col-sm-3 control-label"><b>Phone number </b></label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                        <small id="phoneNumber" class="form-text text-muted">Your phone number won't be disclosed anywhere.</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
</body>
</html>

