<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>holiC</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

<div =id>
<nav>
<img src="static/logo.png" height="60">
<ul>
<li><a href="#">HOME</a></li>
<li><a href="#">ABOUT US</a></li>
<li><a href="#">CONTACT US</a></li>

</ul>


</nav>


</div>

 <div class="carousel-caption d-none d-md-block">
         <h1>Holistic Care</h1>
         <h3>We consider the physical, emotional and social needs of the  Patient </h3>
		 <a href="{{ url_for('patient') }}"><button type="button" class="btn btn-primary  btn-lg"> For Patients</button></a>
		 <a href="{{ url_for('doctor') }}"><button type="button" class="btn btn-primary btn-lg">For Doctors</button></a>
     </div>



</body>
</html>












